%h1 Your Questions

%table
  %thead
    %tr
      %th Question
      %th
      %th

  %tbody
    - @questions.each do |question|
      %tr
        %td= question.body
        %td= link_to 'Edit', edit_user_question_path(current_user, question)
        %td= link_to 'Destroy', [current_user, question], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Question', new_user_question_path(current_user)
