%p#notice= notice

%h2= @question.body
%hr

- if @question.answers.any?
  %ul
  - @question.answers.each do |answer|
    %li= answer.body
- else
  %p Looks like there are no answers yet for this question.


