%h1 Listing answers

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @answers.each do |answer|
      %tr
        %td= link_to 'Show', [current_user, @question, answer]
        %td= link_to 'Destroy', [current_user, @question, answer], :method => :delete, :data => { :confirm => 'Are you sure?' }

