.side-nav {
  list-style-type: none;
  list-style-position: outside;
  min-height:100vh;
}
.gravatar {
  margin-right: 5px;
  border-radius: 30px;
  vertical-align:middle;
}
.user-nav {
  position:absolute;
  bottom:0;
}

